:root {
    --main-font-color: #00715C;
    --main-font-subtitle: #589A2B;
}

/* ===== HEADER ===== */
#logo {
    width: 50px;
}

#logo-content h4 {
    margin-left: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
}

#logo-content {
    width: 140px;
    justify-content: space-between;
    margin: 0 300px 0 100px;

}

#logo-content, header, ul, #first-text-content, #numbers-sort, main, 
#number-button  {
    display: flex;
    align-items: center;

}

header {
    justify-content: start;
    height: 100px;
    width: 100%;
}

ul {
    justify-content: space-between;
    width: 400px;
}

li {
    font-size: 1.2rem;
    cursor: pointer;
}

/* ===== Main ===== */

main {
flex-direction: column;
}

#first-text-content {
    justify-content: center;
    flex-direction: column;
    margin-top: 5rem;
    width: 100%;
    height: 300px;
}

#first-text-content h1 {
    text-align: center;
    font-size: 4rem;
    color: var(--main-font-color);
    margin-bottom: 1rem;
}

#first-text-content h4 {
    text-align: center;
    font-size: 1.2rem;
    color: var(--main-font-subtitle);
    margin-bottom: 1rem;
}

#numbers-sort {
    width: 350px;
    justify-content: space-between;
}

#numbers-sort h3 {
    text-align: center;
    font-size: 1.8rem;
    width: 40px;
    border-bottom: 2px solid var(--main-font-color);
    padding-bottom: 0.5rem;
}

#number-button {
    cursor: pointer;
    cursor: hand;
    margin-top: 3rem;
    justify-content: center;
    color: white;
    width: 350px;
    height: 50px;
    border-radius: 10px;
    background-color: var(--main-font-subtitle);
}
#number-button:hover {
    opacity: .9;
}

#number-button h3 {
    font-size: 1.2rem;
    font-weight: 300;

}
